<div class="container">
  <div class="row">
    <div class="col-lg-12 col-sm-12">
        <h1 class="header-font">Vehicle Loan<span class="color_orange"> Inquiry</span></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <img src="/assets/Vehicle-Loan-Inquiry.jpg" alt="Vehicle Loan Inquiry" class="img-responsive center-block">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 vehicle_padding">
        <p><a href="Truck-Transportation-Services-In-India.aspx" target="_blank" class="color_orange"><span class="ts_font"><b>Transportation</b> </span></a>is one of the biggest segment in India.Growth in Indian economy directly increases the scope and opportunities of transport industry. Where new players are entering in the industry and existing players are also planning for expansion. You might be thinking to own your own truck or expanding your existing fleet. However lack of sufficient funds may become a hurdle in your dream to enter in this industry or expansion in business.</p>
    </div>
  </div>
<%= render partial: 'services/form', locals: { contact: @contact } %>
</div>