
<!DOCTYPE html>
<html lang="en">
<head>
<title>Online Truck booking, Load availability, Transporters, Suppliers Booking/Hiring</title>
<meta charset="utf-8">
<meta name="google" content="FreightBazaar is a fast & easy way to find truck and load availability, booking and hiring for logistics and transport companies. Hire / book truck load online." />
<meta name="description" content="Fast & easy way to find truck and load availability, booking and hiring for logistics and transport companies. Hire / book freight & truck load online.">
<meta name="keywords" content="freightbazaar, freight, truck, trucking, trailer, tipper, load, lorry, transport, transport service, transport companies, transportation, transportation companies, indian transporter, truck transport india, trucking business india, truck transport companies india, find loads for trucks, online truck booking, freight exchange, truck exchange, trucking exchange, fleet exchange, logistic, logistics, 3PL, 3 PL, third party logistics, booking, hire, truck insurance, want truck, 04dd99ae56c35733fcdf">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, max-age=0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<meta itemprop="name" content="FreightBazaar | India's Most Reliable and Cost-Effective Inter-City FTL Solution">
<meta itemprop="description" content="FreightBazaar is a fast & easy way to find truck and load availability, truck booking, hiring and complete trip management.">
<meta itemprop="image" content="https://freightbazaar.com/assets/images/how-works/load-new.png">
<meta property="og:title" content="FreightBazaar | India's Most Reliable and Cost-Effective Inter-City FTL Solution" />
<meta property="og:url" content="https://freightbazaar.com/" />
<meta property="og:type" content="website" />
<meta property="og:description" content="FreightBazaar is a fast & easy way to find truck and load availability, truck booking, hiring and complete trip management." />
<meta property="og:image" content="https://freightbazaar.com/assets/images/how-works/load-new.png" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="FreightBazaar | India's Most Reliable and Cost-Effective Inter-City FTL Solution" />
<meta name="twitter:description" content="FreightBazaar is a fast & easy way to find truck and load availability." />
<meta name="twitter:url" content="https://freightbazaar.com/" />
<meta name="twitter:image" content="https://freightbazaar.com/assets/images/icons/fb_sm_icon.png" />
<meta name="msvalidate.01" content="B636C100143A7EB9A9921A22180BCFF8" />
<link rel="manifest" href="https://freightbazaar.com/manifest.json">
<link rel="shortcut icon" href="https://freightbazaar.com/assets/images/icons/favicon.ico">
<link rel="apple-touch-icon" href="https://freightbazaar.com/assets/images/icons/favicon.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://freightbazaar.com/assets/images/icons/favicon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://freightbazaar.com/assets/images/icons/favicon-114x114.png">
<link type="text/css" rel="stylesheet" href="https://freightbazaar.com/assets/css/bootstrapndate.min.css?v1.16">
<!-- link type="text/css" rel="stylesheet" href="https://freightbazaar.com/assets/css/bootstrap.min.css?v1.16">
<link type="text/css" rel="stylesheet" href="https://freightbazaar.com/assets/css/datepicker3.css"-->
<link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700">
<link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Oswald:400,700,300">
<link type="text/css" rel="stylesheet" href="https://freightbazaar.com/assets/css/font-awesome.min.css?v1.16">
<!-- link type="text/css" rel="stylesheet" href="https://freightbazaar.com/assets/css/animate.css">
<link type="text/css" rel="stylesheet" href="https://freightbazaar.com/assets/css/owl.carousel.css">
<link type="text/css" rel="stylesheet" href="https://freightbazaar.com/assets/css/jquery.circliful.css">
<link type="text/css" rel="stylesheet" href="https://freightbazaar.com/assets/css/orange.css">
<link type="text/css" rel="stylesheet" href="https://freightbazaar.com/assets/css/orange-blue.css">
<link type="text/css" rel="stylesheet" href="https://freightbazaar.com/assets/css/bootstrap-combined.css?v1.16">
<link type="text/css" rel="stylesheet" href="https://freightbazaar.com/assets/css/jquery-ui-1.10.4.custom.min.css">
<link type="text/css" rel="stylesheet" href="https://freightbazaar.com/assets//css/freightbazaar.css?v1.16">
<link type="text/css" rel="stylesheet" href="https://freightbazaar.com/assets/css/owl.theme.css">
-->
<link type="text/css" rel="stylesheet" href="https://freightbazaar.com/assets/css/common-tools.min.css?v1.16">
<style>
#blackBar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 45px;
	background: #3e77ab;
	z-index: 111;
}

.goog-logo-link {
	display: none !important;
}

#google_translate_element a {
	display: none !important;
}

.goog-te-gadget {
	color: transparent !important;
}

.goog-te-gadget select {
	color: black;
}

.front {
	overflow-y: scroll;
	border-radius: 10px !Important;
	padding: 10px !important;
	overflow: inherit;
	width: 260px;
}
.icon_num {
	display: block;
	width: 204px;
	height: 154px;
	border-radius: 61%;
	border: 5px solid #f5821f;
	background-color: #ffffff;
	color: #f5821f;
	text-align: center;
	padding-top: 50px;
	font-size: 3em;
	line-height: 1em;
	margin: top auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.h3_tag {
	color: #002776;
	font-family: "Oswald", sans-serif;
	margin-bottom: 15px;
	text-align: center;
	font-size: 20px;
	padding-right: 41px;
	text-transform: uppercase;
	font-weight: bold;
}

.scrolloff {
	pointer-events: none;
}
#team .team-content .avatar {
    width: 200px;
    height: 200px;
    margin: 0 auto 20px;
}
.bootstrap-timepicker-widget .glyphicon {
	color:#428bca;
}

.bootstrap-timepicker-widget {
    background-color: #fff !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    border: 1px solid #ccc !important;
    border: 1px solid rgba(0, 0, 0, .35) !important;
    border-radius: 4px !important;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175) !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .275) !important;
}
</style>
<style>
.modal-backdrop {
	z-index: 10;
}

.datepicker {
	z-index: 1151 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0px !important;
    margin-left: 5px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: 1px solid #f2994b !important;
}
</style>
<script type="text/javascript">
	var base_url = 'https://freightbazaar.com/';
	var asset_url = 'https://freightbazaar.com/assets/';
	var fbpage = 'home';
        
</script>
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<!--  script src="https://freightbazaar.com/assets/js/jquery-1.10.2.min.js"></script -->
<!--  script src="https://freightbazaar.com/assets/js/jquery-migrate-1.2.1.min.js"></script -->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places,geometry&key=AIzaSyBtGPmn8ziQzPa8kbmciGjEwfIBdyvf4Zs"></script>
<script src="https://freightbazaar.com/assets/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
	function googleTranslateElementInit() {
	  new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'ar,bn,gu,hi,id,kn,ml,mr,my,pa,ta,te,tl,ur,vi,en', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT}, 'google_translate_element');
	}
	$(window).load(function(){
        var googleTranslateScript = document.createElement('script');
        googleTranslateScript.type = 'text/javascript';
        googleTranslateScript.async = true;
        googleTranslateScript.src = '//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit';
        ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( googleTranslateScript );
    });
</script>
<!-- <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> -->
<script type="text/javascript">

	var count=0;
	function registration_datechange()
	{
		var a=document.getElementById("shipdateload").value;
		var d = new Date();
		today1=d.setDate(d.getDate() - 15);
		if((d.getMonth() + 1)<=9)
		{
			var today='0'+(d.getMonth() + 1) + '/' + d.getDate() + '/' + d.getFullYear();
		}
		else
		var today=(d.getMonth() + 1) + '/' + d.getDate() + '/' + d.getFullYear();
		today=today.toString(); 
		a=new Date(a).getTime()
		today = new Date(today).getTime();
		if (a<today)
		{
			count++;
			document.getElementById("registration_datelabel").innerHTML="Availability date cannot be earlier than 2 weeks.";
			document.getElementById("submitload").disabled = true;
		}
		else
		{
			document.getElementById("registration_datelabel").innerHTML="";
			document.getElementById("submitload").disabled = false;
		}
		
	}
	var count1=0;
	function registration_datechange1()
	{
		var a=document.getElementById("shipdatetruck").value;
		var d = new Date();
		today1=d.setDate(d.getDate() - 15);
		if((d.getMonth() + 1)<=9)
		{
			var today='0'+(d.getMonth() + 1) + '/' + d.getDate() + '/' + d.getFullYear();
		}
		else
		var today=(d.getMonth() + 1) + '/' + d.getDate() + '/' + d.getFullYear();
		today=today.toString(); 
		a=new Date(a).getTime()
		today = new Date(today).getTime();
		if (a<today)
		{
			count1++;
			document.getElementById("registration_datelabel1").innerHTML="Availability date cannot be earlier than 2 weeks.";
			document.getElementById("submittruck").disabled = true;
		}
		else
		{
			document.getElementById("registration_datelabel1").innerHTML="";
			document.getElementById("submittruck").disabled = false;
		}
	}
	$("document").ready(function(){
	 	$('.datepicker1').datepicker({format:"dd M yyyy"});
	 
	});
</script>
</head>
<body class="breakpoint-1024" id="page-top" data-spy="scroll" data-target=".navbar1" data-offset="50">
<!-- 	<div class="se-pre-con" id="se-pre-loader"> -->
<!-- 		<p class="text-center loadings" >Loading .... </p> -->
<!-- 	</div> -->
    <style> 
.linkedin-top-right-btn {
	position:fixed;
	top:120px;
	right:0px;
	background:#f5821f;
	border:1px solid #f2f2f2;
	padding:10px 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius:5px;
	z-index: 1;
}
.navbar-fixed-top {
	top:0px;
}
.unverfied_load .messageContainer {
    margin-left: 37%;
}

.navbar > .container {
	width:100%;
}
#blackBar > .container {
	width:100%;
}

#logo > img {
	width:auto;
	max-width:320px;
}

.icon_num{
	margin:auto !important;
}

.small_screen {
	display:none !important;
}
.big_screen {
	display:block !important;
}

@media (min-width: 1200px) {
	.top-title {
		display:block;
	}
	.contact-us-link{
		display:block !important;
	}
	#newlogo > img {
		max-width: 320px;
    	padding: 5px;
	}
	.linkedin-top-right-btn{
		display:block;
	}
	.fb-like{
		display:block;
	}
}

@media (max-width: 1199px) {
	.top-title {
		display:none;
	}
}
@media (min-width: 768px) and (max-width: 1199px) {
	.phone-number {
		display:block;
	}
	#google_translate_element{
		display:block;
	}
	.nav > li > a {
	    padding: 10px 8px;
	}
	#newlogo > img {
		width:auto;
	}
	.navbar-custom ul.main-menu li a {
	    background: rgba(255, 255, 255, 255);
	    color: #002776;
	}
	.contact-us-link{
		display:none !important;
	}
	.linkedin-top-right-btn{
		display:block;
	}
	.fb-like{
		display:block;
	}
}

#parent { 
	display:none;   
    text-align: center;
    padding: 5px 0px;
    border-top: 1px solid #728398;
}
#refer_a_friend {
	display:block;
}

@media (max-width: 767px) {
	.phone-number {
		display:none;
	}
	#google_translate_element{
		display:none;
	}
	.top-user-navs{
		float:right;
	}
	.navbar-toggle{
		background:#e9662c !important;
	}
	.navbar-custom ul.main-menu li a {
	    background: #3e77ab;
	    color: #f2f2f2;
	}
	.navbar-custom ul.main-menu li a:hover {
	    background: #e9662c !important;
	    color: #fff !important;
	}
	.navbar-custom.top-nav-collapse {
	    background: rgba(255, 255, 255, 255);
	}
	.nav > li > a {
	    padding: 10px 8px;
	}
	#newlogo > img {
		padding: 10px 5px;
    	max-width: 225px;
	}
	.contact-us-link{
		display:block;
	}
	.linkedin-top-right-btn{
		display:none;
	}
	.fb-like{
		display:none;
	}
	.small_screen {
		display:block !important;
	}
	.big_screen {
		display:none !important;
	}
	.top-user-navs {
		padding:0px;
	}
	.container {
		padding:0px;
	}
	.navbar-header {
		margin-left:0px !important;
		margin-right:0px !important;
	}
	.navbar-fixed-top {
		top:0px;
	}
	#blackBar {
		height:80px;
	}
	.navbar-top-links {
		min-height:45px;
	}
	#parent { 
		display:block;   
	}
	#lgn-btn {
		margin-left: 5px;
	}
	#refer_a_friend {
		display:none;
	}
	.row{
		margin-left:0px;
		margin-right:0px;
	}
	.section-content .section-heading {
		font-size:40px;
	}
	.section-content .section-description {
    	padding: 0 10% 30px;
    }
    .navbar-custom ul.main-menu li .dropdown-menu li a {
	    color: #f1f1f1 !important;
	}
}
.pac-container{
	z-index:1051;
}
.blink {
  color:#fff;
  background-color:transparent !important;
}
.blink:hover {
  color:#fff;
  background-color:transparent !important;
}

.messageContainer{
	margin-left:0%;
	color:#941818;
}
#child {
    margin: 0 auto;
    display: inline-block;
}
_::-webkit-:not(:root:root), .safari_navright { 
	min-width:690px;
}
_::-webkit-:not(:root:root), #newlogo > img {
	padding: 10px 5px;
    max-width: 200px;
}
</style>
	<div id="page-loader">
		<img src="https://freightbazaar.com/assets/images/icons/preloader.gif" alt="FreightBazaar" />
	</div>
	<a id="totop" href="#"><i class="fa fa-angle-up"></i></a>
			<nav role="navigation" style="z-index: 100;" class="navbar navbar-custom navbar-fixed-top">
				<div class="container">
					<div class="navbar-header page-scroll">
						<button type="button" data-toggle="collapse" data-target=".navbar-main-collapse" class="navbar-toggle">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a id="newlogo" href="https://freightbazaar.com/" class="navbar-brand" style="margin-left:0px;">
							<img src="https://freightbazaar.com/assets/images/gallery/freight.png" alt="Freight Bazaar" />
						</a>
					</div>
					<div class="collapse navbar-collapse navbar-right navbar-main-collapse" style="margin:0px;">
						<ul class="nav navbar-nav main-menu safari_navright">
							<li class="page-scroll"><a href="https://freightbazaar.com/">Home</a></li>
							<li class="page-scroll">
								<a data-hover="dropdown">Features & Benefits</a>
								<ul class="dropdown-menu main-menu-dropdown">
									<li><a href="https://freightbazaar.com/#features">Features</a></li>
									<li><a href="https://freightbazaar.com/#benefits">Benefits</a></li>
									<li><a href="https://freightbazaar.com/#how-works">How it Works</a></li>
								</ul>
							</li>
							<li class="page-scroll">
								<a data-hover="dropdown">About</a>
								<ul class="dropdown-menu main-menu-dropdown">
									<li><a href="https://freightbazaar.com/about-us">About US</a></li>
									<li><a href="https://freightbazaar.com/team">Team</a></li>
									<li><a href="https://freightbazaar.com/#contact">Contact Us</a></li>
									<li><a href="https://freightbazaar.com/sustainability">Sustainability</a></li>
								</ul>
							</li>
							<li class="page-scroll">
								<a data-hover="dropdown">Pricing</a>
								<ul class="dropdown-menu main-menu-dropdown">
									<li><a href="https://freightbazaar.com/pricing">Pricing Plans</a></li>
									<li><a href="https://freightbazaar.com/free-gps-offer">GPS Offer</a></li>
								</ul>
							</li>
							<li class="page-scroll"><a data-hover="dropdown">Help</a>
								<ul class="dropdown-menu main-menu-dropdown">
									<li><a href="https://support.freightbazaar.com/portal/home" target="_blank"><i class="fa fa-magic"></i>Support</a></li>
									<li><a href="https://freightbazaar.com/qa"><i class="fa fa-magic"></i>FAQ'S </a></li>
									<li><a href="https://freightbazaar.com/videos"><i class="fa fa-graduation-cap"></i>Videos</a></li>
									<li><a href="https://freightbazaar.com/offers"><i class="fa fa-money"></i>Offers</a></li>
								</ul>
							</li>
							<li class="page-scroll contact-us-link"><a href="https://freightbazaar.com/blog">Blog</a></li>
														<li class="dropdown page-scroll" style="padding-top: 7px;margin-right: 5px;margin-left: 5px;">
								<button type="button" onclick="window.location.href = 'https://freightbazaar.com/registration';" class="btn btn-green" style="background-color:#30C12E;border-color:#235A27;">Free Trial</button>
							</li>&nbsp;&nbsp;
							 <li class="dropdown page-scroll" style="margin-right: -2px;padding-top: 7px;" id="lgn-btn">
								<button type="button" data-target="#modal-login" data-toggle="modal" onclick="login();" class="btn btn-red">Login</button>
							</li>
													</ul>
					</div>
				</div>
			</nav>
<!-- 		</div> -->
		<!--Modal Login-->
		<div id="modal-login" tabindex="-1" role="dialog" aria-labelledby="modal-login-label" aria-hidden="true" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header modal-header-primary">
						<button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
						<h4 id="modal-login-label" class="modal-title">Login</h4>
					</div>
					<div class="modal-body">
						<div class="form">
							<span class='msg'></span>
							<div id="error"></div>
							<div id="error2"></div>
							<form class="form-horizontal form-validate-signin" method="post" action="">
								<div id="brands"></div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="modal-freetruckpost" tabindex="-1" role="dialog" aria-labelledby="modal-login-label" 
            	aria-hidden="true" class="modal fade"> 
				<div class="modal-dialog" >
					<div class="modal-content">
						<div class="modal-header" style="color: #FFF;background: none repeat scroll 0% 0% #F2994B;
							border-color: #F2994B ">
							<h3 id="modal-login-label" class="web_dialog_title">
								<button type="button" data-dismiss="modal" aria-hidden="true"
	                                        class="close">&times;
								</button>
								<b><label id="pop_up_title1">Submit Truck Availability For Free</label></b>
							</h3>
						</div>
						<div class="modal-body">
							<table style="width: 100%; border: 0px;" cellpadding="1" cellspacing="0">
								<tr>
									<td colspan="2" style="padding-left: 15px;">
										<form action="" method="post" id="frmfreetruck" enctype="multipart/form-data" class="form-validate" onsubmit="return validate();"> 
											<div id="truck_post" Style="">
											</div>
										</form>
									</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
				
			<!--Modal Login-->
		<div id="modal-unverifiedLoadPost" tabindex="-1" role="dialog" aria-labelledby="modal-login-label" aria-hidden="true" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" style="color: #FFF;background: none repeat scroll 0% 0% #F2994B;
							border-color: #F2994B ">
							<h3 id="modal-login-label" class="web_dialog_title">
								<button type="button" data-dismiss="modal" aria-hidden="true"
	                                        class="close">&times;
								</button>
								<b><label id="unverifiedload_title"></label></b>
							</h3>
						</div>
					<div class="modal-body">
						<div class="form">
							<span class='msg'></span>
							<div id="error"></div>
							<div id="error2"></div>
								 
									<div id="unverified_load_post"></div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
			<script src="https://freightbazaar.com/assets/js/bootstrapValidator.min.js"></script>
<script>

$(window).load(function(){
	 initGoogleAutoSuggest();
});

function saveFreeUnverifiedLoadPost () {
	
	if(validateFieldsUnverifiedLoadPost()) {
	dataString = $("#unverfiedloadpost").serialize();
    $(".text-danger").hide();
   	$.ajax({
    	type: "POST",
        url: "https://freightbazaar.com/saveUnverifiedLoadPost",
        data: dataString,
        dataType: 'json',
        success: function(resp){
        	if(resp.status == '0') {
            	        	    
        		alert("Error in Unverified Load Posting.");
           		$("#response").addClass('alert-danger');
				$("#response").html(resp.msg);
				var errorsmsg = resp.errormsg;
				$.each(errorsmsg,function( index, errors ) {
					$.each(errors,function( index, error ) {
						$.each(error, function(key, value){
							if(value != "") {
								$( "#error-"+key+" div.messageContainer small").html( value );
								$("#error-"+key+" div.messageContainer small").show();
								$( "#error-"+key).addClass("has-error");
							}
						});
					});
				});
					
           	} else {
            	$(".text-danger").hide();
            	$("#response").addClass('alert-success');
            	$("#response").html(resp.msg);
            	alert("Unverified Load Posting added successfully.");
            	window.location = "https://freightbazaar.com/";
          	}
    	}
 
	});
   	return false; 
	}	 //stop the actual form post !important!
}

function validateFieldsUnverifiedLoadPost() { 
	var is_valid = true;
	var from_location = $("#load_from_location").val();
	var to_location = $("#load_to_location").val();
	var load_availability_date = $("#load_availability_date").val();
	var contactname = $("#load_contactname").val();
	var contactno = $("#load_contactno").val();
	
	if(from_location .length == 0){
		$("#load_from_location").parent().next('div.messageContainer').html("From Location is required.");
		is_valid = false;
	} else {
		$("#load_from_location").parent().next('div.messageContainer').html("");
	}
	if(to_location.length == 0){
		$("#load_to_location").parent().next('div.messageContainer').html("To Location is required.");
		is_valid = false;
	} else {
		$("#load_to_location").parent().next('div.messageContainer').html("");
	}

	if(load_availability_date.length == 0){
		$("#load_availability_date").parent().next('div.messageContainer').html("Availability Date is required.");
		is_valid = false;
	} else {
		$("#load_availability_date").parent().next('div.messageContainer').html("");
	}

	if(contactname.length == 0){
		$("#load_contactname").parent().next('div.messageContainer').html("Contact name is required.");
		is_valid = false;
	} else {
		$("#load_contactname").parent().next('div.messageContainer').html("");
	}

	if(contactno.length == 0){
		$("#load_contactno").parent().next('div.messageContainer').html("Contact No is required.");
		is_valid = false;
	} else {
		$("#load_contactno").parent().next('div.messageContainer').html("");
	}

	return is_valid;
}

function isNumber(evt) {
    var iKeyCode = (evt.which) ? evt.which : evt.keyCode
    if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
        return false;
    return true;
}   

function login()
{
	$.post("https://freightbazaar.com/loginpopup",function(data){
		document.getElementById('brands').innerHTML = data;
		$("#mainlogin").click(function(){
			loginUser();
		});
	});
}

function initGoogleAutoSuggest() {
	var options = {
			  		types: ['(cities)'],
			  		componentRestrictions: {country: "in"}
			 	};
	$( ".goolge_city" ).each(function( index, element ) {
		var autocomplete = new google.maps.places.Autocomplete(element, options);
		autocomplete.addListener('place_changed', function(){
			if($(element).attr("data-type") == "city_name") {
				var place = autocomplete.getPlace();
				$(element).val(place.address_components[1].short_name);
			}
			if($(element).attr("data-type") == "geo_code") {
				var place = autocomplete.getPlace();
				var input_id = $(element).attr("id");
				$("#"+input_id+"_latitude").val(place.geometry.location.lat());
				$("#"+input_id+"_longitude").val(place.geometry.location.lng());
			}
		});
	});
}

function truckpost()
{
	document.getElementById('pop_up_title1').innerHTML = "Submit Truck Availability For Free";
	$.post("https://freightbazaar.com/posttruck/freetruckpost",function(data){
		document.getElementById('truck_post').innerHTML = data;
		$(document).ready(function() {
			$("#availability_date,#from_location,#to_location,#contactname,#contactno,#trucktype").click(function(){
				$(this).parent().next('div.messageContainer').html("");
			});
			   $('#availability_date').datepicker({format:"dd-mm-yyyy"}).on('changeDate', function(e){
					check_date();
				});
			   initGoogleAutoSuggest();
		});
		
	});
}

function unverifiedloadpost ()
{
	document.getElementById('unverifiedload_title').innerHTML = "Submit Unverified Load For Free";
	$.post("https://freightbazaar.com/publish_unverified_load_form",function(data){
		document.getElementById('unverified_load_post').innerHTML = data;
		$(document).ready(function() {
			$("#load_availability_date,#load_from_location,#load_to_location,#load_contactname,#load_contactno").click(function(){
				$(this).parent().next('div.messageContainer').html("");
			});
		   $('#load_availability_date').datepicker({format:"dd-mm-yyyy"}).on('changeDate', function(e){
				//check_date();
			});
		   initGoogleAutoSuggest();
		});
		
	});
}

function validate_date () {
	//alert('hi');
	var a = document.getElementById("load_availability_date").value;
	var dates = a.split("-");
	a = dates[1]+'/'+dates[0]+'/'+dates[2];
	var m = new Date();
    var d2 = new Date(a);
    m.setDate(m.getDate() - 1);
    
    if (d2.getTime() < m.getTime()) {
		
    	count++;
		$("#load_availability_date").val("");
		alert("Availability date cannot be earlier than today.");
       
    }
   
   
}
function check_date () {
	var a = document.getElementById("availability_date").value;
	var dates = a.split("-");
	a = dates[1]+'/'+dates[0]+'/'+dates[2];
	var d = new Date();
	today1=d.setDate(d.getDate() - 14);
	if((d.getMonth() + 1)<=9)
	{
		var today = '0'+(d.getMonth() + 1) + '/' + d.getDate() + '/' + d.getFullYear();
	}
	else
	{
	var today=(d.getMonth() + 1) + '/' + d.getDate() + '/' + d.getFullYear();
	}
	today=today.toString(); 
	a = new Date(a).getTime();
	today = new Date(today).getTime();
	
	if (a<today)
	{
		count++;
		$("#availability_date").val("");
		alert("Availability date cannot be earlier than 2 weeks.");
	}
}

function saveReferance()
{
	var flag = 0;
	if(flag<1){
		if(validateFields()) {
			$.ajax({
		        type: 'post',
		        url: 'https://freightbazaar.com/referal/savereferal',
		        data: $('#frmsubmitreferal').serialize(),
		        dataType: 'json',
		        success: function (response) {
		            if(response.status == 1)
		            {
		    			alert("Thank You, Your reward point will be credited after your friend complete the registration on FreightBazaar");
		    			location.href = "https://freightbazaar.com/dashboard";
		            }
		            else
		            {
		            	alert("Sorry! Please try again.");
		            	location.href = "https://freightbazaar.com/dashboard";
		            }
		        }
	        
			},'json');
			//return false;  //stop the actual form post !important!
		}
		flag++;
	}
	
}

function validateFields() {
	var is_valid = true;
	var name = $("#name").val();
	var email = $("#remail").val();
	var mobile = $("#rmobile").val();
	
	if(name.length == 0){
		$("#name").parent().next('div.messageContainer').html("Name is required.");
		is_valid = false;
	} else {
		$("#name").parent().next('div.messageContainer').html("");
	}

	if(email.length == 0){
		$("#remail").parent().next('div.messageContainer').html("Email Id is required.");
		is_valid = false;
	} else {
		$("#remail").parent().next('div.messageContainer').html("");
	}

	if(mobile.length == 0){
		$("#rmobile").parent().next('div.messageContainer').html("Mobile No. is required.");
		is_valid = false;
	} else {
		$("#rmobile").parent().next('div.messageContainer').html("");
	}


	return is_valid;
}

function saveFreetruuck() {
	if(validateFieldsTruckPost()) {
	dataString = $("#frmfreetruck").serialize();
    $(".text-danger").hide();
   	$.ajax({
    	type: "POST",
        url: "https://freightbazaar.com/posttruck/savefreetruckpost",
        data: dataString,
        dataType: 'json',
        success: function(resp){
        	if(resp.status == '0') {
           		$("#response").addClass('alert-danger');
				$("#response").html(resp.msg);
				var errorsmsg = resp.errormsg;
				$.each(errorsmsg,function( index, errors ) {
					$.each(errors,function( index, error ) {
						$.each(error, function(key, value){
							if(value != "") {
								$( "#error-"+key+" div.messageContainer small").html( value );
								$("#error-"+key+" div.messageContainer small").show();
								$( "#error-"+key).addClass("has-error");
							}
						});
					});
				});
					
           	} else {
            	$(".text-danger").hide();
            	$("#response").addClass('alert-success');
            	$("#response").html(resp.msg);
            	alert("Free Truck Posting added successfully.");
            	window.location = "https://freightbazaar.com/trucks/truckboard/1";
          	}
    	}
 
	});
   	return false; 
	}	 //stop the actual form post !important!
}

function validateFieldsTruckPost() { 
	var is_valid = true;
	var from_location = $("#from_location").val();
	var to_location = $("#to_location").val();
	var availability_date = $("#availability_date").val();
	var trucktype = $("#trucktype").val();
	var contactname = $("#contactname").val();
	var contactno = $("#contactno").val();
	
	if(from_location .length == 0){
		$("#from_location").parent().next('div.messageContainer').html("From Location is required.");
		is_valid = false;
	} else {
		$("#from_location").parent().next('div.messageContainer').html("");
	}
	if(to_location.length == 0){
		$("#to_location").parent().next('div.messageContainer').html("To Location is required.");
		is_valid = false;
	} else {
		$("#to_location").parent().next('div.messageContainer').html("");
	}

	if(availability_date.length == 0){
		$("#availability_date").parent().next('div.messageContainer').html("Availability Date is required.");
		is_valid = false;
	} else {
		$("#availability_date").parent().next('div.messageContainer').html("");
	}

	if(trucktype.length == 0){
		$("#trucktype").parent().next('div.messageContainer').html("Please select vehicle type.");
		is_valid = false;
	} else {
		$("#trucktype").parent().next('div.messageContainer').html("");
	}

	if(contactname.length == 0){
		$("#contactname").parent().next('div.messageContainer').html("Contact name is required.");
		is_valid = false;
	} else {
		$("#contactname").parent().next('div.messageContainer').html("");
	}

	if(contactno.length == 0){
		$("#contactno").parent().next('div.messageContainer').html("Contact No is required.");
		is_valid = false;
	} else {
		$("#contactno").parent().next('div.messageContainer').html("");
	}

	return is_valid;
}
$(".main-menu-dropdown li a").click(function(){
	$(".navbar-main-collapse").removeClass("in");
});

</script>    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<style>
<!--
.padding-left-10 {
	margin-top:15px;
	padding-left:10px;
}
body {
	font-family: 'Roboto', sans-serif;
}
#features {
    background-color: #F7ECD4;
}
#benefits {
    background-color: #B7DEEB;
}
#how-works {
	background-color: #F7ECD4;
}
#about {
	background-color: #B7DEEB;
}
#team {
	background-color: #F7ECD4;
}
#pricing2 {
	background-color: #B7DEEB;
}
#customer {
	background-color: #F7ECD4;
}
#partner {
	background-color: #F7ECD4;
}
.nav-tabs {
	font-family: "Open Sans", sans-serif !important;
    font-size: 16px !important;
}
.nav-tabs > li > a {
    background-color:#f5821f;
    border: 1px solid #ddd;
    color:#fff;
    background:transparent;
    font-size:20px;
}
.nav-tabs > li > a {
    color:#fff;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    border: 1px solid #ddd;
    border-left:transparent;
    border-right:transparent;
    border-top:transparent;
    border-bottom: 3px solid #f5821f;
    background-color: rgba(62,119,171,0.7);
    font-size:20px;
}

.nav-tabs > li > a:hover {
	background-color: rgba(62,119,171,0.7);
	border-bottom: 3px solid #f5821f;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    background-color: rgba(200,200,200,0.4);;
    border: transparent;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}
.search-inputs {
    height: 50px !important;
}
.tab-content {
	background:transparent;
	border:transparent;
	padding: 24px 15px;
	margin-bottom: 0px;
}
.nav-tabs {
	border-bottom:transparent;
}
#find_load {
    margin: 0px;
    border: 0px;
    padding: 0px 12px;
    font-family: Trebuchet MS, Helvetica;
    font-weight:bold;
}

#find_truck {
    margin: 0px;
    border: 0px;
    padding: 0px 12px;
    font-family: Trebuchet MS, Helvetica;
}

#search_load{
	margin-top: 30px;
}

#search_truck{
	margin-top: 30px;
}

.right-btn-load {
	padding:0px;
	background:#f5821f;
}
.right-btn-load:hover {
	background:#df2e1b;
}
.top-title {
	margin-top: -25px;
    margin-bottom: 20px;
    font-size: 32px;
    text-shadow: 2px 2px 4px #000000;
}
.icon_num1 {
    display: block;
    width: 153px;
    height: 121px;
    border-radius: 65%;
    border: 5px solid #f5821f;
    background-color: #ffffff;
    color: #f5821f;
    text-align: center;
    padding-top: 50px;
    font-size: 2em;
    line-height: 0em;
    margin: top auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.mbl1, .mvl, .mal {
    margin-bottom: 20px !important;
    margin-left: 24px;
}
.freight_numbers {
	font-size:34px;
	color:#f5821f;
}
.freight_numbers_item {
    background-color: #f2f2f2;
    height:auto;
    min-height:130px;
    margin-bottom: 3px;
/*     border: 5px solid #f5821f; */
    border-radius:5px;
    color:#002776;
    padding:4px;
}
.freight_numbers_title {
	font-size:22px;
}

.freight_numbers_main {
	background-color:rgba(255,255,255,0.3);
	padding:10px 0px;
	border-radius: 5px;
}
.freight_numbers_heading {
	text-shadow: 2px 2px 4px #000000;
	color:#fff;
	margin-top:2px;
}
.freight_numbers_heading span {
	color:#fff;
}

@media (min-width: 992px) {
	.freight_numbers_main .col-md-2{
		width:25%;
	}
}

.track_your_trip {
	position:fixed;
	right:0px;
	background: rgba(100,100,100,0.4);
    border: 1px solid #f2f2f2;
    padding: 10px 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 1;
}

@media (min-width: 768px) {
	.track_your_trip {
		top:82px;
	}
}

#home-pg-links {
	padding-top:30px;
}

@media (max-width: 767px) {
	.track_your_trip {
		bottom:0px;
	}
	#home-pg-links {
		padding-top:80px;
	}
	.col-sm-10 {
		padding-left:5px;
		padding-right:5px;
	}
	.nav-tabs > li > a {
		font-size:14px;
		margin-bottom:5px;
	}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		font-size:14px;
		margin-bottom:5px;
	}
}

.messageContainer{
	margin-left:5%;
}
.news-timestamp {
	color: #aaa;
    padding: 5px 15px;
}
#news_new a{
	cursor:pointer;
}
.reviews {
	color: #555;
}
.text-summary {
	color:#aaa;
}
.reviews strong {
	color: #777;
	margin-bottom:0px;
}
.section-content {
    padding-top: 50px;
    padding-bottom: 50px;
}
#about .h3 {
	color: #002776;
    font-family: "Oswald", sans-serif;
    margin-bottom: 15px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
#about h3 {
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000000;
    margin-bottom: 0;
    text-align: center;
    text-transform: none;
    font-weight: normal;
}
.search-bg {
/*     background-color: rgba(255,255,255,0.2); */
    border-radius: 10px;
    padding: 15px;
}
#our-clients .item {
	padding: 15px 15px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	margin-top: 10px;
  	box-sizing: border-box;
  	border-radius: 2px;
  	background-clip: padding-box;
  	background:#fff;
  	margin: 5px;
    min-height: 300px;
}

#our-clients .text-summary {
	color:#777;
    font-size: 15px;
}
#blackBar {
	display:none;
}

.app-dounload-btn a.btn-primary{
	border-radius:0px;
	border-color:#f5821f;
	margin-top:-5px;
}
.app-screen {
	background:rgba(75,75,75,0.5);
}
.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.card {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
  background:#fff;
}
.intro-text {
	font-size:42px;
	text-align:left;
	padding-left:50px;
	font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.intro-para {
	padding:25px;
	padding-left:50px; 
	padding-right:0px;
	font-size:22px;
	font-weight:100;
	text-align:left;
}
.action-btns {
	margin-top:15px;
	text-align:left;
	padding-left:40px;
}
.app-image {
	max-width:250px;
}
.btn-respo {
	border-color:#f5821f;
	padding:15px;
}

@media (max-width: 767px) {
	.intro-text {
		font-size: 28px;
	    text-align: left;
	    padding-left: 0px;
	    padding-top: 25px;
	}
	.intro-para {
		padding: 25px 0px;
	    font-size: 18px;
	    font-weight: 100;
	    text-align: left;
	}
	.action-btns {
		margin-top:10px;
		padding-left:0px;
	}
	.action-btns .col-xs-6 {
		padding-left:0px;
	}
	.app-image {
		max-width:90%;
	}
	.app-screen {
		margin-top:10px;
		padding-top:15px;
	}
	
	.app-dounload-btn a.btn-primary{
		width: 90%;
    	margin-left: 5%;
	}
	.btn-respo {
		border-color:#f5821f;
		padding:5px;
	}
}
-->
</style>
<div class="track_your_trip">
	<div class="row">
		<div class="col-lg-12">
			<a href="" data-toggle="modal" data-backdrop="static" data-target="#modal-triptracker" style="color:white;text-decoration:none;cursor:pointer;"><b>Track Your Trip</b></a>
		</div>
	</div>
</div>
	<header style="background:url(https://freightbazaar.com/assets/images/background/mytruck.jpg) no-repeat center center fixed;background-size: cover;">
		<div class="bg-overlay pattern" style="background-image: none;background-color:rgba(0,0,0,0.5);">
			<section class="intro" style="padding: 13% 0 15%;">
				<h2 style="display:none;">Find load and truck availability, truck hiring, truck booking, trip & freight management and live trip tracking.</h2>
				<div class="intro-body">
					<div class="">
						<div class="row" style="margin:0px;">
							<div class="col-sm-6">
								<div class="row">
									<h1 class="h1 intro-text">India’s most reliable and cost-effective inter-city FTL solution</h1>
									<p class="intro-para">
										FreightBazaar is building the world's largest network of trucks, with guaranteed capacity and real-time GPS tracking on all shipments.
									</p>
								</div>
								<div class="row action-btns">
									<div class="col-sm-4 col-xs-6">
										<a href="https://freightbazaar.com/shippers" class="btn btn-primary btn-lg btn-respo" >FOR SHIPPERS</a>
									</div>
									<div class="col-sm-4 col-xs-6">
										<a href="https://freightbazaar.com/suppliers" class="btn btn-primary btn-lg btn-respo" >FOR SUPPLIERS</a>
									</div>
									<div class="col-sm-4 col-xs-6">
										<a href="https://freightbazaar.com/gpsvendors" class="btn btn-primary btn-lg btn-respo" >FOR GPS VENDORS</a>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="pull-right">
									<div class="app-screen">
										<a href="https://freightbazaar.com/downloadapp">
											<img src="https://freightbazaar.com/assets/images/background/app-download-new.png" class="app-image" alt="Download FreightBazaar APP"/>
											<div class="app-dounload-btn">
												<a href="https://freightbazaar.com/downloadapp" class="btn btn-block btn-lg btn-primary">DOWNLOAD APP</a>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	</header>
	<section id="news_new" class="section-content section-parallax" style="background-color:#fff;">
		<div class="row" style="padding:35px 10px;margin:0px;">
		<br><br>
			<div class="col-lg-12">
				<div class="section-heading" style="color: #f5821f;">
					Freight<span>Bazaar</span> in News
				</div>
				<div class="line"></div>
			</div>
			<div class="col-md-2 text-center">
				<div class="card">
					<a href="https://economictimes.indiatimes.com/industry/transportation/shipping-/-transport/gst-infrastructure-status-lift-spirit-of-logistics-companies/articleshow/62014245.cms" target="_blank" >
						<img src="https://freightbazaar.com/assets/news/economic_times.png" height="40px" width="90px" alt="FreightBazaar covered in Economic Times" style="margin:20px 0px;"/>
					</a>
				    <div class="text-center news-timestamp">Dec 11, 2017</div>
			   </div>
			</div>
			<div class="col-md-2 text-center">
				<div class="card">
					<a href="http://www.supplychainlog.com/2017/09/27/freight-bazaar-getting-ready-value-additions/" target="_blank" >
						<img src="https://freightbazaar.com/assets/news/SCL-LOGO.png" height="40px" width="150px" alt="FreightBazaar covered in Supply Chain Log" style="margin:20px 0px;"/>
					</a>
				    <div class="text-center news-timestamp">Oct 03, 2017</div>
			   </div>
			</div>
			<div class="col-md-2 text-center">
				<div class="card">
					<a href="http://auto.economictimes.indiatimes.com/news/commercial-vehicle/mhcv/truck-aggregator-freightbazaar-introduces-features-for-truck-drivers/60910242" target="_blank" >
						<img src="https://freightbazaar.com/assets/news/auto-square-logo.png" height="80px" width="150px" alt="FreightBazaar covered in ET Auto From The Economic Times" style="margin:0px 0px;"/>
					</a>
				    <div class="text-center news-timestamp">Oct 02, 2017</div>
			   </div>
			</div>
			<div class="col-md-2 text-center">
				<div class="card">
					<a href="http://economictimes.indiatimes.com/small-biz/startups/logistics-startups-crusade-for-adoption-of-e-pod-to-release-blocked-credit-in-the-indian-freight-industry/articleshow/60529718.cms?from=mdr" target="_blank" >
						<img src="https://freightbazaar.com/assets/news/the _economic_times.png" height="40px" width="150px" alt="FreightBazaar covered in The Economic Times" style="margin:20px 0px;"/>
					</a>
				    <div class="text-center news-timestamp">Sep 18, 2017</div>
			   </div>
			</div>
			<div class="col-md-2 text-center">
				<div class="card">
					<a href="http://www.autocarpro.in/features/iot-smart-reduce-transport-risk-operational-costs-25120" target="_blank" >
						<img src="https://freightbazaar.com/assets/news/autocar.png" height="40px" width="150px" alt="FreightBazaar covered in Autocar Professional" style="margin:20px 0px;"/>
					</a>
				    <div class="text-center news-timestamp">Jun 23, 2017</div>
			   </div>
			</div>
			<div class="col-md-2 text-center">
				<div class="card">
					<a href="http://www.smetimes.in/smetimes/face-to-face/2017/May/02/employing-concepts-like-tco-and-tvo-can-scale-businesses-up.html" target="_blank" style="padding: 20px 0px;">
						<img src="https://freightbazaar.com/assets/news/sme.png" height="40px" alt="FreightBazaar covered in SME Times" style="margin:20px 0px;"/>
					</a>
					<div class="text-center news-timestamp">May 02, 2017</div>
				</div>
			</div>
			<div class="col-md-2 text-center">
				<div class="card">
					<a href="http://www.thehindu.com/business/some-way-to-go-before-the-finish/article18340854.ece" target="_blank" style="padding: 20px 0px;">
						<img src="https://freightbazaar.com/assets/news/thehindu.png" height="66px" alt="FreightBazaar covered in thehindu.com" style="margin:7px 4px;"/>
					</a>
					<div class="text-center news-timestamp">Apr 30, 2017</div>
				</div>
			</div>
			<div class="col-md-2 text-center">
				<div class="card">
					<a href="http://commercialvehicle.in/freightbazaar-and-dfag-sign-mou/" target="_blank" style="padding: 20px 0px;">
						<img src="https://freightbazaar.com/assets/news/commercial-vehicle.jpg" height="66px" alt="FreightBazaar covered in commercialvehicle.com" style="margin:7px 4px;"/>
					</a>
					<div class="text-center news-timestamp">Feb 13, 2017</div>
				</div>
			</div>
			<div class="col-md-2 text-center">
				<div class="card">
					<a href="https://freightbazaar.com/blogdetail/8" target="_blank" style="padding: 20px 0px;background-color: #16146e;">
						<img src="https://freightbazaar.com/assets/news/small-interprise.png" height="38px" alt="FreightBazaar covered in Small Enterprise India" style="margin:21px 4px;"/>
					</a>
					<div class="text-center news-timestamp">Feb 01, 2017</div>
				</div>
			</div>
			<div class="col-md-2 text-center">
				<div class="card">
					<a href="https://www.linkedin.com/pulse/trends-domestic-freight-industry-vikash-khatri?trk=hp-feed-article-title-share" target="_blank">
						<img src="https://freightbazaar.com/assets/news/linked-in.png" height="65px" alt="FreightBazaar covered in Linked In Post" style="margin: 7px 0px;"/>
					</a>
					<div class="text-center news-timestamp">Jan 02, 2017</div>
				</div>
			</div>
			<div class="col-md-2 text-center">
				<div class="card">
					<a href="https://indianceo.in/startup/freightbazaar-hiring-truck-promised-delivery/" target="_blank">
						<img src="https://freightbazaar.com/assets/news/indian-ceo.png" height="80px" alt="FreightBazaar covered in Indian CEO"/>
					</a>
					<div class="text-center news-timestamp">Dec 22, 2016</div>
				</div>
			</div>
			<div class="col-md-2 text-center">
				<div class="card">
					<a href="http://www.einnews.com/pr_news/349785365/the-six-finalist-of-tie-autonebula-mobility-contest-announced" target="_blank">
						<img src="https://freightbazaar.com/assets/news/auto-nebula.png" height="80px" alt="FreightBazaar covered in TieCon" style="padding-top:5px;"/>
					</a>
					<div class="text-center news-timestamp">Oct 18, 2016</div>
				</div>
			</div>
			<div class="col-md-2 text-center">
				<div class="card">
					<a href="http://businessworld.in/article/Former-VP-Of-TCI-Joins-Freightbazaar-com/14-10-2016-106907/" target="_blank">
						<img src="https://freightbazaar.com/assets/news/bw.png" height="80px" alt="FreightBazaar covered in BW" style="padding-top:5px;"/>
					</a>
					<div class="text-center news-timestamp">Oct 14, 2016</div>
				</div>
			</div>
			<div class="col-md-2 text-center">
				<div class="card">
					<a href="https://www.nextbigwhat.com/ibm-gep-city-finalists-297/" target="_blank">
						<img src="https://freightbazaar.com/assets/news/nextbigwhat-logo.png"  height="80px" alt="FreightBazaar covered in NextBigWhat" style="padding-top:5px;"/>
					</a>
					<div class="text-center news-timestamp">Oct 13, 2015</div>
				</div>
			</div>
			<div class="col-md-2 text-center">
				<div class="card">
					<a href="https://inc42.com/buzz/ibm-smartcamp-2015-hyderabad-winners/" target="_blank">
						<img src="https://freightbazaar.com/assets/news/inc42-logo.png" height="80px" alt="FreightBazaar covered in INC 42"/>
					</a>
					<div class="text-center news-timestamp">July 30, 2015</div>
				</div>
			</div>
			<div class="col-md-2 text-center">
				<div class="card">
				<a href="http://www.moneycontrol.com/news/wire-news/freightbazaar-launches-integrated-e-transportation-platform_2238061.html" target="_blank">
					<img src="https://freightbazaar.com/assets/news/moneycontrol-logo.png" height="80px" alt="FreightBazaar covered in Money Control Again"/>
				</a>
				<div class="text-center news-timestamp">July 30, 2015</div>
				</div>
			</div>
			<div class="col-md-2 text-center">
				<div class="card">
				<a href="http://www.moneycontrol.com/news/features/revolutionary-online-freight-platform-for-trucking-industry_1877341.html" target="_blank">
					<img src="https://freightbazaar.com/assets/news/moneycontrol-logo.png" height="80px"alt="FreightBazaar covered in Money Control"/>
				</a>
				<div class="text-center news-timestamp">July 09, 2015</div>
				</div>
			</div>
			<div class="col-md-2 text-center">
				<div class="card">
				<a href="http://www.prnewswire.co.in/news-releases/now-access-freightbazaar---online-freight-platform---from-any-mobile-without-internet-connection-512419481.html" target="_blank">
					<img src="https://freightbazaar.com/assets/news/pr-logo.png" height="80px" alt="FreightBazaar covered in PRwire Again"/>
				</a>
				<div class="text-center news-timestamp">July 08, 2015</div>
				</div>
			</div>
<!-- 			<div class="col-md-2 text-center"> -->
<!-- 				<div class="card"> -->
<!-- 					<a href="http://www.indiaprwire.com/pressrelease/internet/20150610374546.htm" target="_blank"> -->
	<!--					<img src="news/pr-logo.png" height="80px" alt="FreightBazaar covered in PRwire"/>
<!-- 					</a> -->
<!-- 				    <div class="text-center news-timestamp">June 10, 2015</div> -->
<!-- 			   </div> -->
<!-- 			</div> -->
			<br><br>
			<br><br>
			<br><br>
		</div>
		<br><br>
	</section>
	<section id="features" class="section-content">
		<div class="container">
			<div class="row mbxxl">
				<div class="col-lg-12">
					<div class="section-heading">
						Our<span> Features</span>
					</div>
					<div class="line"></div>

				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4 features-left">
					<div data-wow-delay=".1s" class="feature wow fadeInLeft">
						<div class="icon-wrap">
							<div class="icon">
								<i class="fa fa-align-justify"></i>
							</div>
						</div>
						<div class="feature-info">
							<h4>Full Stack Platform</h4>
							<p>FreightBazaar is Full Stack platform covering from truck
								hiring to payments. Manage your transportation at single
								location.</p>
						</div>
					</div>
					<div data-wow-delay=".2s" class="feature wow fadeInLeft">
						<div class="icon-wrap">
							<div class="icon">
								<i class="fa fa-file-text"></i>
							</div>
						</div>
						<div class="feature-info">
							<h4>Document Vault and Management</h4>
							<p>Upload business, truck & driver documents online. Exchange &
								view documents online.</p>
						</div>
					</div> 
					<div data-wow-delay=".3s" class="feature wow fadeInLeft">
						<div class="icon-wrap">
							<div class="icon">
								<i class="fa fa-inr"></i>
							</div>
						</div>
						<div class="feature-info">
							<h4>Quote Management</h4>
							<p>Truck users can request for the quotations from the Truck
								Suppliers. Use Quote Management and get the best price.</p>
						</div>
					</div>
					<div data-wow-delay=".4s" class="feature wow fadeInLeft">
						<div class="icon-wrap">
							<div class="icon">
								<i class="fa fa fa-check"></i>
							</div>
						</div>
						<div class="feature-info">
							<h4>E-confirm</h4>
							<p>Post Quotation, Truck Users and Truck Suppliers can provide
								specific details of the transaction and agree to the terms. Once
								agreed, terms are frozen and both parties receive e-confirmation
								for the Truck Hiring with details of agreed terms.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 text-center">
					<div data-wow-delay=".4s" class="img-phone wow bounceIn">
						<img src="https://freightbazaar.com/assets/images/features/freight.png"
							alt="Easy e-confirmation process for load and truck availability." class="img-responsive" />
						<div data-wow-delay=".5s" class="img-phone wow bounceIn">
							<img src="https://freightbazaar.com/assets/images/features/load.png"
								alt="Load available for truck suppliers" class="img-responsive" />
						</div>
						<div data-wow-delay=".6s" class="img-phone wow bounceIn">
							<img src="https://freightbazaar.com/assets/images/features/truck.png"
								alt="Truck available for truck users" class="img-responsive" />
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 features-right">
					<div data-wow-delay=".5s" class="feature wow fadeInRight">
						<div class="icon-wrap">
							<div class="icon">
								<i class="fa fa-cogs"></i>
							</div>
						</div>
						<div class="feature-info">
							<h4>Risk Mitigation Tools</h4>
							<p>Transacting parties can see Customer Profiles of each party.
								In built filters to mitigate risks. E-confirm with details of
								agreed terms to avoid potential issues.</p>
						</div>
					</div>
					<div data-wow-delay=".6s" class="feature wow fadeInRight">
						<div class="icon-wrap">
							<div class="icon">
								<i class="fa fa-magic"></i>
							</div>
						</div>
						<div class="feature-info">
							<h4>Automation</h4>
							<p>Entire Truck hiring process is automated online. No need to
								make calls.</p>
						</div>
					</div>
					<div data-wow-delay=".7s" class="feature wow fadeInRight">
						<div class="icon-wrap">
							<div class="icon">
								<i class="fa fa-exchange"></i>
							</div>
						</div>
						<div class="feature-info">
							<h4>Multi-channel Platform</h4>
							<p>Transact through website or android app. Do not have a
								computer or smartphone or access to internet. No worries. Use
								our USSD application on basic mobiles. Our Call Center is always
								available to help you.</p>
						</div>
					</div>
					<div data-wow-delay=".8s" class="feature wow fadeInRight">
						<div class="icon-wrap">
							<div class="icon">
								<i class="fa fa-inr"></i>
							</div>
						</div>
						<div class="feature-info">
							<h4>Minimal Fixed Charges</h4>
							<p>Pay only when you do the business on freightBazaar. There is a
								nominal membership fees to ensure that you transact with only
								genuine parties.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="benefits" class="section-content">
		<div class="container">
			<div class="row mbxxl">
				<div class="col-lg-12">
					<div class="section-heading">
						<span>Benefits</span>
					</div>
					<div class="line"></div>
					<p class="section-description">FreightBazaar offers convenience,
						transparency and reliability in addition to cost savings for truck
						users, truck suppliers and transporters.</p>

				</div>
			</div>
			<div class="row">
				<div data-wow-delay="0.2s" class="col-lg-4 mbl wow flipInY">
					<a href="https://freightbazaar.com/benefits">
						<div class="icon">
							<i class="fa fa-user"></i>
						</div>
					</a>
					<h3>Truck Users</h3>

				</div>
				<div data-wow-delay="0.4s" class="col-lg-4 mbl wow flipInY">
					<a href="https://freightbazaar.com/benefits">
						<div class="icon">
							<i class="fa fa-truck"></i>
						</div>
					</a>
					<h3>Truck Suppliers</h3>
				</div>
				<div data-wow-delay="0.6s" class="col-lg-4 mbl wow flipInY">
					<a href="https://freightbazaar.com/benefits">
						<div class="icon">
							<i class="fa fa-users"></i>
						</div>
					</a>
					<h3>Transporters / Agents / Brokers</h3>
				</div>

			</div>
		</div>
	</section>
	<section id="how-works" class="section-content">
		<div class="container">
			<div class="row mbxxl">
				<div class="col-lg-12">
					<div class="section-heading">
						How it <span>Works</span>
					</div>
					<div class="line"></div>
					<p class="section-description">With intuitive and user friendly
						interface both parties easily complete the truck hiring process
						and monitor the shipment delivery.</p>

				</div>
			</div>
			<div class="row text-center">
				<!--  <h3>Truck Users</h3>!-->
				<p>
					<img src="https://freightbazaar.com/assets/images/how-works/load-new.png" alt="FreightBazaar help you to manage your freight trips."
						class="img-responsive" />
				</p>

			</div>
		</div>
	</section>


	<section id="clients_new" class="section-content section-parallax" style="background-color:#B7DEEB;padding:15px 0px;color:#aaa;">
		<br><br>
		<div class="row" style="margin:0px;">
			<div class="col-lg-12">
				<div class="section-heading" style="color: #f5821f;">
					What <span>Clients</span> & <span>Partners</span> Say
				</div>
				<div class="line"></div>
			</div>
		</div>
		<div class="owl-carousel" style="padding:5px 15px;margin:0px;" id="our-clients" >
		 	<div class="item">
				<div class="media">
					<div class="media-left">
						<!-- img src="https://freightbazaar.com/assets/images/customer/pradeep.jpg" alt="People" class="img-circle media-object reviews" style="width:100px;"-->
					</div>
					<div class="media-body">
						<p class="reviews text-summary">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
								It has been great experience using "Freight Bazaar" an online portal for booking load for my vehicles. It has made the process of engaging vehicles more transparent and efficient.
							<i class="fa fa-quote-right" aria-hidden="true"></i>
						</p>
						<p class="reviews name">
							<strong>Mr. Mudit Uppal </strong>
						</p>
						<p class="reviews">
							Director - Uppal Carriers Private Limited
						</p>
					</div>
				</div>
			</div>
		    <div class="item">
				<div class="media">
					<div class="media-left">
						<!-- img src="https://freightbazaar.com/assets/images/customer/aishwarya.png" alt="People" class="img-circle media-object reviews" style="width:100px;"-->
					</div>
					<div class="media-body">
						<p class="reviews text-summary">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
								Freight Bazaar has helped us to streamline freight quotes to our clients, lower the vehicle down time, better yields and simplify logistics. I cannot say enough about Freight Bazaar level of commitment to excellent customer service and how very satisfied we are with the services that Freight Bazaar provides us. Freight Bazaar has helped our company and has also helped us improve our service to our clients.
							<i class="fa fa-quote-right" aria-hidden="true"></i>
						</p>
						<p class="reviews name">
							<strong>Satheesh Kumar</strong>
						</p>
						<p class="reviews">
							Manager Operations - Crisscross Logistics Pvt. Ltd.
						</p>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="media">
					<div class="media-left">
						<!-- img src="https://freightbazaar.com/assets/images/customer/divyanshu.png" alt="People" class="img-circle media-object reviews" style="width:100px;"-->
					</div>
					<div class="media-body">
						<p class="reviews text-summary">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
								I'm always impressed with the service orientation I find when I interact with Freight Bazaar Team. The guys listen carefully and they 'get it' very quickly. They respond to questions almost immediately and address problems very effectively. They are really easy to work with and seems to appreciate their customers. Freight Bazaar Team makes our Vehicle hiring process a lot easier. Hoping you go so far as to set a benchmark in your competence.
								<i class="fa fa-quote-right" aria-hidden="true"></i>
						</p>
						<p class="reviews name">
							<strong>Madhvi Raghuvanshi</strong>
						</p>
						<p class="reviews">
							Network-North Zone - Gati-KWE
						</p>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="media">
					<div class="media-body">
						<p class="reviews text-summary">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
								The Indian logistics industry is outpacing nearly every other sector in the world's fastest growing large economy. FreightBazaar and the online freight marketplace vertical is outpacing logistics itself. We are proud to be suppliers to such a great team and company.
							<i class="fa fa-quote-right" aria-hidden="true"></i>
						</p>
						<p class="reviews name">
							<strong>Luke Sequeira</strong>
						</p>
						<p class="reviews">
							Founder,  CEO - Numadic.com
						</p>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="media">
					<div class="media-body">
						<p class="reviews text-summary">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
								Trucks though constitute a small percentage of vehicles, contribute significantly to fuel-consumption, congestion and air-pollution in a city. I believe that the freight platform is the best way to go about it, creating a win-win for businesses and environment.
							<i class="fa fa-quote-right" aria-hidden="true"></i>
						</p>
						<p class="reviews name">
							<strong>Parthaa Bosu</strong>
						</p>
						<p class="reviews">
							Innovation & Future Strategies Advisor, Domain and Functional Advisory Group (DFAG)
						</p>
					</div>
				</div>
			</div>
		</div>
		<br><br>
	</section>

	<section id="partner" class="section-content">
		<div class="container">
			<div class="row mbxxl">
				<div class="col-lg-12">
					<div class="section-heading">
						Knowledge <span>Partners</span>
					</div>
					<div class="line"></div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="row mbxxl">
					<div class="col-lg-12">
						<p align="center">
							<a href="http://www.cleanairasia.org" target="_blank">
								<img src="https://freightbazaar.com/assets/images/partners/headlogo.png" alt="A green initiative for happy transportation." class="img-responsive" />
							</a>
						</p>
					</div>
				</div>
	
				<p class="description" style="text-align: justify;padding: 0px 15px;">Clean Air Asia was
					established in 2001 as the premier air quality network for Asia by
					the Asian Development Bank, World Bank, and USAID. Its mission is to
					promote better air quality and livable cities by translating
					knowledge to policies and actions that reduce air pollution and
					greenhouse gas emissions from transport, energy and other sectors.
	
					Since 2007, Clean Air Asia is a UN recognized partnership of more
					than 250 organizations in 31 countries in Asia and worldwide and 8
					Country Networks (China, India, Indonesia, Nepal, Pakistan,
					Philippines, Sri Lanka, and Vietnam), and is supervised by a
					Partnership Council.</p>
				<ul>
					<li><a href="http://www.greenfreightandlogistics.org/" target="_blank">Green Freight Website</a></li>
					<li><a href="http://cleanairasia.org/node8074/" target="_blank">Green Truck Toolkit</a></li>
					<li><a href="http://cleanairasia.org/node7966/" target="_blank">Clean Fleet Management Toolkit</a></li>
					<li><a href="http://cleanairasia.org/walkability-study-in-asian-cities-4/" target="_blank">Walkability Survey</a></li>
					<li><a href="http://cleanairasia.org/bye-bye-empty-miles-hello-efficiency/" target="_blank">FreightBazaar and Clean Air Asia Partnership</a></li>
				</ul>
			</div>
			<div class="col-sm-6">
				<div class="row mbxxl" style="margin-bottom:52px !important;">
					<div class="col-lg-12">
						<p align="center">
							<a href="http://www.dfag.asia" target="_blank">
								<img src="https://freightbazaar.com/assets/images/partners/dfag_logo.png" alt="Domain and Functional Advisory Group." class="img-responsive" />
							</a>
						</p>
					</div>
				</div>
				<br>
				<p class="description" style="text-align: justify;padding: 0px 15px;">
					Domain and Functional Advisory Group was setup in 2007, by a group of professionals who built most strategic roads for India. It brings global perspective along with in-depth local knowledge and strives to catalyse and scale transformative innovations, create unlikely partnerships that span sectors, to bring the required change.
					DFAG’s team represents rich cross sectoral experience in developing innovative solutions to address a range of development concerns.
					The mission is to bring sustainable innovation to the advancing inclusive economies that expand opportunities for sustainable prosperity, and building resilience by helping people, communities, governments, private sector and institutions prepare for, and withstand the future.</p>
				<ul>
					<li>
						<a href="http://www.dfag.asia" target="_blank">
							DFAG Website
						</a>
					</li>
					<li><a href="http://www.dfag.asia/#section-57dadddbdbe45" target="_blank">
							DFAG Services
						</a>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section id="contact" class="section-content">
		<div class="container">
			<div class="row mbxxl">
				<div class="col-lg-12">
					<div class="section-heading">
						<span>Contact</span> Us
					</div>
					<div class="line"></div>
					<p class="section-description">
						You can call Customer Care at 80 99 33 22 11 or <br>write an email to customercare<i class="fa fa-at fa-lg"></i>freightbazaar<span style="font-size:10px;">&#9679;</span>com or<br> Visit our Corporate Office at the address mentioned.
					</p>
				</div>
			</div>
		</div>
		<div id="map-overlay" data-wow-delay=".1s" style="width: 100%; height:0px;" class="wow fadeIn">
		</div>
		<div class="container">
			<form action="" method="post" id="sendenquiry">
				<div class="row mtxxl">
					<div class="col-lg-4">
						<h3 class="title">Registered / Corporate Office</h3>
						<div itemscope itemtype="http://schema.org/Company" class="padding-left-10">
							<span itemprop="company">Saanvad Ventures Private Limited</span><br><br>
							<span itemprop="address">4 B, G S Mall, 6-3-1109/ 5&6, <br><br>Rajbhavan Road, Somajiguda, <br><br>Hyderabad - 500082, <br><br>Telangana, INDIA</span><br><br>
							<span itemprop="tel">Phone: +91 40 4776 6747</span><br><br>
							<a href="https://www.facebook.com/pages/Freightbazaar/391414740994652?ref=br_tf" target="_blank">
								<img src="https://freightbazaar.com/assets/images/icons/facebook.png" alt="Facebook" />
							</a> 
							<a href="https://twitter.com/freightbazaar1" target="_blank">
								<img src="https://freightbazaar.com/assets/images/icons/twitter.png" alt="Twitter"/>
							</a>
							<a href="https://www.linkedin.com/company/freightbazaar/" target="_blank">
								<img src="https://freightbazaar.com/assets/images/icons/in.png" alt="LinkedIn"/>
							</a>
							<div style="margin:10px 0px;padding-left:10px;" class="pull-right" id="linkedin-follow"></div>
						</div>
						<div class="fb-like" style="padding-left:10px;"
							data-href="https://www.facebook.com/pages/Freightbazaar/391414740994652?ref=br_tf"
							data-layout="standard" data-action="like" data-show-faces="true"
							data-share="true"></div>
					</div>
					<div class="col-lg-4">
						<h3 class="title">Pune Office</h3>
						<table class="tb-info-us table-striped mbl">
							<tbody>
								<tr>
									<td>Esha House, Pimpri-Chichwad Link Rd,</td>
								</tr>
								<tr>
									<td>Sudarshan Nagar, Chinchwad, Pune, Maharashtra - 411033</td>
								</tr>
							</tbody>
						</table>
						<h3 class="title">Mumbai Office</h3>
						<table class="tb-info-us table-striped mbl">
							<tbody>
								<tr>
									<td>East West Ind. Centre Andheri Kurla Rd, </td>
								</tr>
								<tr>
									<td>Safed Pool, Mumbai, Maharashtra - 400072 </td>
								</tr>
							</tbody>
						</table>
						<h3 class="title">Goa Office</h3>
						<table class="tb-info-us table-striped mbl">
							<tbody>
								<tr>
									<td>Central Towers , </td>
								</tr>
								<tr>
									<td>Panaji, Goa - 403001 </td>
								</tr>
							</tbody>
						</table>
					</div>


					<div class="col-lg-4">
						<div class="row">
							<div class="col-lg-12 mbm">
								<input type="text" name="custname" placeholder="Full Name" 
								id="full_name"	value="" class="form-control " />
							</div>
							<div class="messageContainer"></div>
							<div class="col-lg-12 mbm">
								<input type="text" name="email" value="" placeholder="E-mail Address" required class="form-control" id="emailid" />
							</div>
							<div class="messageContainer"></div>
							<div class="col-lg-12 mbm">
								<input type="text" name="mobile" value="" placeholder="Mobile" required maxlength="10" class="form-control" id="mobile" />
							</div>
							<div class="messageContainer"></div>
							<div class="col-lg-12">
								<input type="text" name="subject" placeholder="Subject" required
									class="form-control" id="subject" />
							</div>
							<div class="messageContainer"></div>
							<div class="col-lg-12">
								<textarea placeholder="Message" name="message" rows="5" required class="form-control mtm" id="message" ></textarea>
							</div>
							<div class="messageContainer"></div>
							<div class="col-lg-6">
								<button type="submit" name="sendmail" class="btn btn-primary btn-sm" 
								style="padding-top:0px;padding-bottom:0px;">Send Message</button>
							</div>
							<div class="messageContainer"></div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>
	<!--Modal triptracker -->
	<div id="modal-triptracker" tabindex="-1" role="dialog"
		aria-labelledby="modal-triptracker-label" aria-hidden="true"
		class="modal fade">
		<div class="modal-dialog" style="width:70%">
			<div class="modal-content" >
				<div class="modal-header" style="background-color:#F2994B">
					<button type="button" data-dismiss="modal" aria-hidden="true"
						class="close" onclick = "reset();">&times;</button>
					<h4 id="modal-triptracker-label" class="modal-title" style="color:white;">Track Your Trip</h4>
				</div>
				<div class="modal-body">
					<div class="form">

						<form class="form-horizontal form-validate-signin" method="post"
							action="">
							<div class="form-group">
								<label for="username" class="control-label col-md-4">Enter Your Trip ID </label>
								<div class="col-md-4">
									<input autocomplete="off" id="tripid" required name="tripid" type="text" class="form-control" />
								</div>
								<div class="col-md-4">
									<input autocomplete="off" onclick="tracktrip();" value="Track your trip" name="btntripdetail" type="button" class="btn btn-primary" />
								</div>
							</div><br><br>
							<div class="form-group">
								<div class="row">
									<div class="col-md-12" id="tripdetail" >
										
									</div>
								</div>
							</div></br></br>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!--Modal Login-->
	<div id="modal-login" tabindex="-1" role="dialog"
		aria-labelledby="modal-login-label" aria-hidden="true"
		class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" data-dismiss="modal" aria-hidden="true"
						class="close">&times;</button>
					<h4 id="modal-login-label" class="modal-title">Login</h4>
				</div>
				<div class="modal-body">
					<div class="form">

						<form class="form-horizontal form-validate-signin" method="post"
							action="">
							<div class="form-group">
								<label for="username" class="control-label col-md-4">User Name
									(Email or Mobile) *</label>

								<div class="col-md-8">
									<input autocomplete="off" id="username" required
										name="username" type="text" class="form-control" />
								</div>
							</div>
							<div class="form-group">
								<label for="password" class="control-label col-md-4">Password *</label>

								<div class="col-md-8">
									<input autocomplete="off" required id="password"
										name="password" type="password" class="form-control" />
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-9 col-md-offset-3">
									<input type="button" value="Log In" id="login1" name="submit"
										class="btn btn-primary"> <input type="button"
										value="Accept & Log In" id="login1234" name="submit"
										class="btn btn-primary">


								</div>
								<div class="col-md-3 col-md-offset-3">
									<a href="#">Forgot Password ?</a> <a href="#">Register Now</a>
								</div>
								<span class='msg'></span>

								<div id="error"></div>
						
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

<div id="popup_modal" tabindex="-1" role="dialog" aria-labelledby="modal-login-label" aria-hidden="true" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div style="background-color: #f5821f" class="modal-header">
				<button type="button" data-dismiss="modal" aria-hidden="true"
					class="close">&times;</button>
				<h4 style="color: white" id="modal-login-label" class="modal-title">Confirmation</h4>
			</div>
			<div class="modal-body">
				<div class="form">
					<form class="form-horizontal form-validate-signin" method="post"
						action="">
						<div class="form-group" style="margin: 2px">
							<label>You are currently not logged in. Truck Availability
								submitted without Login will be considered 'Unverified'. <br>
								<br> <b>Do you wish to Login or Register first?<br> <br></b>
							</label>
						</div>

						<div class="form-group">
							<div>
								<input type="button" value="Yes" onclick="window.location.href='login'" class="btn btn-primary"> 
								<input type="button" value="No" onclick="window.location.href='https://freightbazaar.com/free-truck-posting'" class="btn btn-primary">
								<button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-primary" class="close">Cancel</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="popup-container" class="modal fade">
  	<div class="modal-dialog" style="width:300px;">
    	<div class="modal-content">
      		<div class="modal-header" style="background-color: #337ab7;color:#fff;">
        		<a class="close" data-dismiss="modal" aria-hidden="true">x</a>
        		<h4 class="modal-title">Download FreightBazaar APP</h4>
      		</div>
      		<div class="modal-body">
        		<p style="font-size:16px;">Use our app for the best experience</p>
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        		<a href="javascript:openApp();" class="btn btn-primary" >INSTALL / OPEN IN APP</a>
      		</div>
    	</div><!-- /.modal-content -->
  	</div><!-- /.modal-dialog -->
</div>
<script type="text/javascript" src="https://cdn.knightlab.com/libs/timeline/latest/js/storyjs-embed.js"></script>
<script type="text/javascript" src="https://cdn.knightlab.com/libs/timeline/latest/js/timeline-min.js"></script>
<script type="text/javascript" src="https://freightbazaar.com/assets/js/jquery.cookie.js"></script>
<script type="text/javascript" src="https://freightbazaar.com/assets/js/protocolcheck.js"></script>
<script>
$('#sendenquiry').bootstrapValidator({
	container: function($field, validator) {
    	return $field.parent().next('.messageContainer');
    },
   	feedbackIcons: {
       	validating: 'glyphicon glyphicon-refresh'
   	},
   	excluded: ':disabled',
    fields: {
    	custname: {
            validators: {
            	notEmpty: {
                    message: 'The Name is required and cannot be empty'
                }
            }
        },
        email: {
            validators: {
                notEmpty: {
                    message: 'The Email is required and cannot be empty'
                },
                regexp: {
                    regexp: '^[^@\\s]+@([^@\\s]+\\.)+[^@\\s]+$',
                    message: 'The value is not a valid email address'
                }
            }
        },
        mobile: {
            validators: {
                notEmpty: {
                    message: 'The mobile is required and cannot be empty'
                },
                stringLength: {
                    max: 10,
                    min: 10,
                    message: 'Please enter 10 digits mobile number.'
                },
                integer: {
                    message: 'Invalid mobile.'
           		}
            }
        },
        subject: {
            validators: {
                notEmpty: {
                    message: 'The subject is required and cannot be empty'
                }
            }
        },
        message: {
            validators: {
                notEmpty: {
                    message: 'The message is required and cannot be empty'
                }
            }
        }
       
        
    }
}).on('success.form.bv', function(e) {
// Prevent form submission
	e.preventDefault();
	sendcontactdetail();
	
});

function reset()
{
	document.getElementById('tripdetail').innerHTML = "";
	document.getElementById('tripid').value = "";
	//window.location = "";
}
function sendcontactdetail()
{
	var name = document.getElementById('full_name').value;
	var email = document.getElementById('emailid').value;
	var mobile = document.getElementById('mobile').value;
	var subject = document.getElementById('subject').value;
	var message = document.getElementById('message').value;
	ajaxindicatorstart('Please hang on ... while we submit data...');
	$.post("https://freightbazaar.com/savecontactdetail",{'name':name,'email':email, mobile: mobile, 'subject':subject, 'message':message},function(data){
		if(data > 0)
		{
			document.getElementById('full_name').value = "";
			document.getElementById('emailid').value = "";
			document.getElementById('subject').value = "";
			document.getElementById('message').value = "";
			alert("Sent successfully.");
		}
		window.location = "https://freightbazaar.com/";
	});
}
function initMap(){
	var options = {
	 	types: ['(cities)'],
	 	componentRestrictions: {country: 'in'}
	};
	var input =  document.getElementById('from_location');
	var autocomplete = new google.maps.places.Autocomplete(input,options);
	autocomplete.addListener('place_changed', function() {
		var place = autocomplete.getPlace();
	    if (!place.geometry) {
	      window.alert("Autocomplete's returned place contains no geometry");
	      return;
	    }
	    $("#load_from_lat").val(place.geometry.location.lat());
	    $("#load_from_lng").val(place.geometry.location.lng());
	});
	var input1 =  document.getElementById('to_location');
	var autocomplete1 = new google.maps.places.Autocomplete(input1,options);
	autocomplete1.addListener('place_changed', function() {
		var place = autocomplete1.getPlace();
	    if (!place.geometry) {
	      window.alert("Autocomplete's returned place contains no geometry");
	      return;
	    }
	    $("#load_to_lat").val(place.geometry.location.lat());
	    $("#load_to_lng").val(place.geometry.location.lng());
	});
	var truck_from_location =  document.getElementById('truck_from_location');
	var autocomplete3 = new google.maps.places.Autocomplete(truck_from_location,options);
	var truck_to_location =  document.getElementById('truck_to_location');
	var autocomplete4 = new google.maps.places.Autocomplete(truck_to_location,options);
}

$(window).load(function(){
	//initMap();
	$('#availability_date').datepicker({format:"d M yyyy"});
	$('#truck_availability_date').datepicker({format:"d M yyyy"});
});

$(document).ready(function () {
	$('#map-new').addClass('scrolloff');
    $('#map-overlay').on("mouseup",function(){
      	$('#map-new').addClass('scrolloff'); 
   	});
   	$('#map-overlay').on("mousedown",function(){
     	$('#map-new').removeClass('scrolloff');
   	});

   	$("#map-new").mouseleave(function () {
    	$('#map-new').addClass('scrolloff');
    });
});
function tracktrip() 
{
	var tripid = document.getElementById('tripid').value;
	if(tripid == "" ){
		document.getElementById('tripid').value = "";
		alert("Please Enter Trip Id.");
	} else if(tripid == 0) {
		document.getElementById('tripid').value = "";
		alert("Please Enter Valid Trip Id.");
	} else {
		$.post("https://freightbazaar.com/home/tripdetail",{tripid:tripid},function (data) {
			document.getElementById('tripdetail').innerHTML = data;
			jQuery(document).ready(function ($) {
			    var $timeline_block = $('.cd-timeline-block');
			    $timeline_block.each(function () {
			        if ($(this).offset().top > $(window).scrollTop() + $(window).height() * 0.75) {
			            $(this).find('.cd-timeline-img, .cd-timeline-content').addClass('is-hidden');
			        }
			    });
			    $(window).on('scroll', function () {
			        $timeline_block.each(function () {
			            if ($(this).offset().top <= $(window).scrollTop() + $(window).height() * 0.75 && $(this).find('.cd-timeline-img').hasClass('is-hidden')) {
			                $(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
			            }
			        });
			    });
			});
		
			//document.getElementById('tripdetail').innerHTML = data;
			
		});
	}
}
$(window).load(function(){
	var scriptTag = document.createElement("script");
	scriptTag.type = "text/javascript"
	scriptTag.src = "//platform.linkedin.com/in.js";
	scriptTag.async = true;
	scriptTag.innerHTML = "lang: en_US";
	var scriptTag2 = document.createElement("script");
	scriptTag2.type = "IN/FollowCompany"
	$(scriptTag2).attr("data-id","2930884");
	$(scriptTag2).attr("data-counter","right");
	//scriptTag2.async = true;
	document.getElementById('linkedin-follow').appendChild(scriptTag);
	document.getElementById('linkedin-follow').appendChild(scriptTag2);
});
$(document).ready(function() {
  $("#our-clients").owlCarousel({
	  
	    // Most important owl features
	    items : 3,
	    itemsCustom : false,
	    itemsDesktop : [1199,3],
	    itemsDesktopSmall : [980,2],
	    itemsTablet: [768,2],
	    itemsTabletSmall: false,
	    itemsMobile : [479,1],
	    singleItem : false,
	    itemsScaleUp : false,
	 
	    //Basic Speeds
	    slideSpeed : 200,
	    paginationSpeed : 800,
	    rewindSpeed : 1000,
	 
	    //Autoplay
	    autoPlay : true,
	    stopOnHover : true,
	 
	    // Responsive 
	    responsive: true,
	    responsiveRefreshRate : 200,
	    responsiveBaseWidth: window,
	 
	    // CSS Styles
	    baseClass : "owl-carousel",
	    theme : "owl-theme"
  });
});
</script>
<script>
function openApp() {
	var url = "fbapp://freightbazaar.com";
	window.protocolCheck(url,
   		function () {
			window.location = 'https://play.google.com/store/apps/details?id=com.adodis.freightbazaar';
     	}
 	);
}

</script>
<script>
jQuery(window).load(function(){  
	if( navigator.userAgent.match(/android/i) ) {
		var visits = jQuery.cookie('visits') || 0;
		visits++;
		jQuery.cookie('visits', visits, { expires: 1, path: '/' });
		console.debug(jQuery.cookie('visits'));
		    
		if ( jQuery.cookie('visits') < 5 ) {
		    $("#popup-container").modal('show');
		} else {
			$("#popup-container").modal('hide');
		}
		if (jQuery.cookie('noShowWelcome')) { $("#popup-container").modal('hide'); }
	}
}); 

jQuery(document).mouseup(function(e){
  	var container = jQuery('#popup-container');
  	if( !container.is(e.target)&& container.has(e.target).length === 0)
  	{
  		$("#popup-container").modal('hide');
  	}
});

</script><div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<div id='_webengage_script_tag'></div>
<script type="text/javascript">

  var _weq = _weq || {};
  _weq['webengage.licenseCode'] = '~2024c778';
  _weq['webengage.widgetVersion'] = "4.0";
  
  (function(d){
    var _we = d.createElement('script');
    _we.type = 'text/javascript';
    _we.async = true;
    _we.src = (d.location.protocol == 'https:' ? "https://ssl.widgets.webengage.com" : "http://cdn.widgets.webengage.com") + "/js/widget/webengage-min-v-4.0.js";
    var _sNode = d.getElementById('_webengage_script_tag');
    _sNode.parentNode.insertBefore(_we, _sNode);
  })(document);

</script>
  <!-- script for google Analytics-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39934841-2', 'auto');
  ga('send', 'pageview');

</script>
<!--end script for google Analytics-->
<script type="text/javascript">
function LoadGoogle()
{
    if(typeof google != 'undefined' && google && google.load)
    {
    	google.load("language", "1");
    }
    else
    {
        setTimeout(LoadGoogle, 30);
    }
}

LoadGoogle();

function translate(lang) {
  	var sourcelang = "en";
   	document.getElementById("translation").innerHTML = "";
   	for(i=0; i<=(len/words); i++) {
     	google.language.translate (source.substr(i*words, words), "en", lang, function (result) {
     		if (!result.error) {
     			document.getElementById("translation").innerHTML = document.getElementById("translation").innerHTML + result.translation;
    		} 
    	}); 
    }  
  	document.getElementById("article").style.display = 'none';
  	return false;
}

function original() {
  	document.getElementById("translation").style.display='none';
  	document.getElementById("article").style.display = 'block';   
  	return false;
}
</script>
<!--  End of google translation code -->
<!--END CONTENT-->
<!-- 
<script src="https://freightbazaar.com/assets/js/jquery-ui.min.js"></script>
 -->
<!--loading bootstrap js-->
<script src="https://freightbazaar.com/assets/js/bootstrap.min.js"></script>
<script src="https://freightbazaar.com/assets/js/combined-js-tools.min.js"></script>
<script src="https://freightbazaar.com/assets/js/freightbazaar.js?v1.16"></script>
<script src="https://freightbazaar.com/assets/js/jquery.cookie.js"></script>
<script src="https://freightbazaar.com/assets/js/common.js?v1.16"></script>    
<link rel="stylesheet" type="text/css" href="https://freightbazaar.com/assets/css/jquery.gritter.css" />
<script type="text/javascript" src="https://freightbazaar.com/assets/js/jquery.gritter.js"></script>
<script src="//js.pusher.com/4.0/pusher.min.js"></script>
<script type="text/javascript">

	// Enable pusher logging - don't include this in production
	
</script>
<style>
<!--
	footer .section-title {
		font-size: 18px;
	    font-weight: 500;
	    padding: 10px 5px;
	    font-family: Oswald,Sans-serif,monospace;
	}
	footer ul {
		display:inline;
	}
	footer ul li {
		list-style:none;
		padding:5px;
		padding-top:0px;
	}
	footer ul li a {
		color:#aaa;
	}
	footer .copyright {
		color:#aaa;
	}
-->
</style>
<footer>
  <audio id="audiotag1" src="https://freightbazaar.com/assets/sound/doorbell.wav" preload="auto"></audio> 
	<div class="container1">
		<div class="row">
			<div class="col-sm-3">
				<div class="section-title">Quick Links</div>
				<ul>
					<li><a href="https://freightbazaar.com/about-us">About US</a></li>
					<li><a href="https://freightbazaar.com/contactus">Contact US</a></li>
					<li><a href="https://freightbazaar.com/our-features">Our Features</a></li>
					<li><a href="https://freightbazaar.com/benefits">Benefits</a></li>
					<li><a href="https://freightbazaar.com/how-system-works">How It Works</a></li>
					<li><a href="https://freightbazaar.com/pricing">Pricing</a></li>
					<li><a href="https://freightbazaar.com/termscondition">Terms & Conditions</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<div class="section-title">Help & FAQ's</div>
				<ul>
					<li><a href="https://freightbazaar.com/free-load-posting">Free Load Posting</a></li>
					<li><a href="https://freightbazaar.com/free-truck-posting">Free Truck Posting</a></li>
					<li><a href="https://freightbazaar.com/downloadapp">Download Our App</a></li>
					<li><a href="https://freightbazaar.com/videos">Help Videos</a></li>
					<li><a href="https://freightbazaar.com/offers">Offers & Deals</a></li>
					<li><a href="https://freightbazaar.com/sustainability">Sustainability</a></li>
					<li><a href="https://freightbazaar.com/qa">FAQ's</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<div class="section-title">Loads available in top cities</div>
				<ul>
					<li><a href="https://freightbazaar.com/truck-loads-available-in-bangalore">Loads available in Bangalore</a></li>
					<li><a href="https://freightbazaar.com/truck-loads-available-in-chennai">Loads available in Chennai</a></li>
					<li><a href="https://freightbazaar.com/truck-loads-available-in-mumbai">Loads available in Mumbai</a></li>
					<li><a href="https://freightbazaar.com/truck-loads-available-in-hyderabad">Loads available in Hyderabad</a></li>
					<li><a href="https://freightbazaar.com/truck-loads-available-in-noida">Loads available in Noida</a></li>
					<li><a href="https://freightbazaar.com/truck-loads-available-in-gurgaon">Loads available in Gurgaon</a></li>
					<li><a href="https://freightbazaar.com/truck-loads-available-in-ahmedabad">Loads available in Ahmedabad</a></li>
					<li><a href="https://freightbazaar.com/truck-loads-available-in-kolkata">Loads available in Kolkata</a></li>
					<li><a href="https://freightbazaar.com/truck-loads-available-in-pune">Loads available in Pune</a></li>
					<li><a href="https://freightbazaar.com/truck-loads-available-in-delhi">Loads available in Delhi</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<div class="section-title">Trucks available in top cities</div>
				<ul>
					<li><a href="https://freightbazaar.com/trucks-available-in-bangalore">Trucks available in Bangalore</a></li>
					<li><a href="https://freightbazaar.com/trucks-available-in-chennai">Trucks available in Chennai</a></li>
					<li><a href="https://freightbazaar.com/trucks-available-in-mumbai">Trucks available in Mumbai</a></li>
					<li><a href="https://freightbazaar.com/trucks-available-in-hyderabad">Trucks available in Hyderabad</a></li>
					<li><a href="https://freightbazaar.com/trucks-available-in-noida">Trucks available in Noida</a></li>
					<li><a href="https://freightbazaar.com/trucks-available-in-gurgaon">Trucks available in Gurgaon</a></li>
					<li><a href="https://freightbazaar.com/trucks-available-in-ahmedabad">Trucks available in Ahmedabad</a></li>
					<li><a href="https://freightbazaar.com/trucks-available-in-kolkata">Trucks available in Kolkata</a></li>
					<li><a href="https://freightbazaar.com/trucks-available-in-pune">Trucks available in Pune</a></li>
					<li><a href="https://freightbazaar.com/trucks-available-in-delhi">Trucks available in Delhi</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 text-left copyright">Copyright @ 2012-2017 Saanvad Ventures. All Rights Reserved.</div>
			<div class="col-sm-12 text-left copyright">All trademarks, logos and names are properties of their respective owners.</div>
		</div>
	</div>
</footer>

<script>
function mark_as_read(id) {
// 	alert("hi");
	$.post("https://freightbazaar.com/mark_frontend_notification_as_read",{id:id},function(data){
		
	},'json');	
}

</script>
</body>
</html>
<script>
function ajaxindicatorstart(text)
{
	if(jQuery('body').find('#resultLoading').attr('id') != 'resultLoading'){
	jQuery('body').append('<div id="resultLoading" style="display:none"><div><img src="https://freightbazaar.com/assets/images/icons/loading.gif" alt="Loading truck availability"><div>'+text+'</div></div><div class="bg"></div></div>');
	}

	jQuery('#resultLoading').css({
		'width':'100%',
		'height':'100%',
		'position':'fixed',
		'z-index':'10000000',
		'top':'0',
		'left':'0',
		'right':'0',
		'bottom':'0',
		'margin':'auto'
	});

	jQuery('#resultLoading .bg').css({
		'background':'#000000',
		'opacity':'0.7',
		'width':'100%',
		'height':'100%',
		'position':'absolute',
		'top':'0'
	});

	jQuery('#resultLoading>div:first').css({
		'width': '250px',
		'height':'75px',
		'text-align': 'center',
		'position': 'fixed',
		'top':'0',
		'left':'0',
		'right':'0',
		'bottom':'0',
		'margin':'auto',
		'font-size':'16px',
		'z-index':'10',
		'color':'#ffffff'

	});

    jQuery('#resultLoading .bg').height('100%');
       jQuery('#resultLoading').fadeIn(300);
    jQuery('body').css('cursor', 'wait');
}
function ajaxindicatorstop()
{
    jQuery('#resultLoading .bg').height('100%');
       jQuery('#resultLoading').fadeOut(300);
    jQuery('body').css('cursor', 'default');
}

/*jQuery(document).ajaxStart(function () {
	ajaxindicatorstart('Please hang on ... while we submit data...');
}).ajaxStop(function () {
	ajaxindicatorstop();
});*/
</script>
