<html>
  <head>
    <meta content=‘text/html; charset=UTF-8’ http–equiv=‘Content-Type’ />
  </head>
  <body>
		<h1>Hi <%= @user.fullname %></h1>
    <h3>Your truck status is booked.</h3>
  </body>
</html>