<div class="align-confirm-btn">
	<%= link_to "Accept", '', :class=>"btn-xs btn-success btn-white-color" %>
</div>
<div>
	<%= link_to "Bargaining rate", '', :class=>"btn-xs btn-success btn-white-color" %>
</div>
<div>
<%= link_to "Cancel deal", '', :class=>"btn-xs btn-success btn-white-color" %>
</div>