.user-form{ border: 1px solid black;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-right: 200px;
    margin-left: 110px;
   padding:20px;
  background: #FFFFFF;
   border-style: inset;
   box-shadow: 10px 10px 5px grey;}

.user-form1{ 
  border-style: outset;
  background: #FFFFFF;
  box-shadow: 300px 300px 250px blue;}
.user-form2{ border: 1px solid black;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-right: 50px;
    margin-left: 50px;
   padding:20px;
  background: #FFFFFF;
   border-style: inset;
   box-shadow: 10px 10px 5px grey;}

   user-form-width{ width: 40%;  } #error_explanation h2{ display: none;
} #error_explanation ul li  {     color: red; } .error_msg {     color: red; }
.contact-form .input:nth-child(2) {     width: calc(100% - 10px); } .form-
margin-20{   margin-right: 20%; } .form-margin-6{   margin-right: 6%; } .form-
margin-4{   margin-right: 4%; } .form-margin-8{   margin-right: 8%; } .form-
width-40{width: 40%;} .text-data{border-style: solid;border-width: 1px ;color:
red; text-align: center;} .board_header {background-color: none repeat scroll
0 0 #00468c !important;} .calculate-data{display: none;margin-right: 70px;}
#error_distance_from{display: none;color: red} #error_distance_to{display:
none;color: red} #contact_subject {margin-right: 550px; margin-bottom: 20px;   }
.contact-text{text-align: center;} #multi_markers{width: 1200px;height:
400px;} .map-div{width: 1000px; } #map {height: 50%;} #truck-type{display:
block;} /*warehouse -inquiry page*/ .header-font{text-align: center;font-size:
32px;} .flash{color: red;} #spnTruckStatus{display: none;} /*Error Load page*/
.error-set{ padding: 20px;}
.para{color:green;}
.error-set1{border: 0.1px; solid: red; padding:5px;}
.form-group{padding-top: 20px;padding-bottom: 20px;}
.post-form-msg{padding-top:20px;}
.para{color:green ;}
.error-set1{border: 0.1px solid red padding:5px;
}

   .post-form-msg{padding-top:20px;}
.container.container-padding-top{padding-top: 100px;} .header-text{padding:
20px;} .map-align{padding-top:20px;} .color_orange{color: #fd4404;} .font-32
{font-size: 32px;} .font-24{font-size: 24px;} /*#distance-from{float:
left;width: 40%;}*/
.container-wid75{width: 100%;}
.ddlalign{width:150px;}
#distance_from{width: 200px;}
#distance_to{width: 200px;}

.tblstyle{
	
border-spacing: 10px;

border-collapse: separate;
}
.tblstyle-load{width: 80%;}
.flt-lft{margin-left:90px;float:left;}
.calculation-btn{padding-top:16px;}
/*Root Direction map*/
#map {
  height: 100%;
  margin-top:40px;

   width: 100%;
   background: #FFFFFF;
   border-radius: 90%;
}
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  #floating-panel {margin-top: 10px; margin-left: 10px;}
/*CSS for header has-dropdown*/
.main-nav>li>a {
  color: #ffffff !important;
}
/*Distance calculation page css*/
.header-title {float:right;}
.align-head{width: 100%;height:300px !important;}
/*Css for trucks index page*/
.fix-min-height{min-height: 17px;}
.hide-alert-msg{display: none;}
/*Css for loads index page*/
.load-counter-data{font-size:25px !important;}
/*Header css*/
#nav.nav-transparent {
  background: #1C1D21 !important;
}
.btn-white-color{
  color: #ffffff !important;
}
.filter-type{margin-left:74px;}
.width-20{width: 15%;margin-left:15px;}
.note-docs{font-size: 10px;}
.mar-lft-15{margin-left: 15px;}
.width-15-date{width: 15% !important;}
.text-data-align{font-size: 25px;text-align: left;}
.confirm-btn{font-size: 20px;}
#datepicker{font-weight: 500;border: 2px solid gray !important; padding: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
#load_source_pin_code,#load_destination_pin_code,#load_information,
#truck_expected_price,#truck_licence_number,
#truck_current_transporter_name,#max-truck-capacity,
#truck_vehicle_number,#truck_driver_name,#truck_driver_mobile_no,#truck_information{border: 2px solid gray !important;}
.information-text{width: 100% !important; }
#validate-msg-mobile, #validate-msg-vehicle-number{
  display:block;
  margin:1em 0;
  color: red;
}
.razorpay-payment-button {
  background: url("/assets/PayWithRzp.png") center no-repeat;
  background-size: contain;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 0;
  height: 36px;
  width: 230px;
  padding: 0;
  cursor: pointer;
}
/* Available truck board*/
#truck_from{
  width: 20%;
    margin-left: 15px;
    padding: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
#truck_to{
  width: 20%;
    margin-left: 15px;
    padding: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
#vehicle_number{
  width: 20%;
    margin-left: 15px;
    padding: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.btn-group-xs>.btn, .btn-xs {
    padding: 2px 8px;
    font-size: 12px;
    line-height: 2;
    border-radius: 5px;
    margin-left: 100px;
}
/* post a truck*/
  .post{
     border: 1px solid black;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-right: 50px;
    margin-left: 50px;
   padding:20px;
  background: #FFFFFF;
   border-style: inset;
   box-shadow: 10px 10px 5px grey;
   }
  #truck_truck_type{
    width: 200px;
     height: 30px;

  }
  #truck_truck_from{
    width: 200px;
    height: 30px;

  }
  #truck_truck_to{
    
     width: 250px;
    height: 30px;

  }
  #truck_transit_time{
    
     width: 200px;
    height: 30px;

  }
  #truck_truck_weight{
    
     width: 200px;
    height: 30px;

  }
  #truck_truck_body{
    
     width: 200px;
    height: 30px;

  }
  #truck_documentation{
    
     width: 200px;
    height: 30px;

  }
  
  .width-20
  {
    width: 200px;
    height: 30px;

  }
#load_truck_type
{
  width: 200px;
    height: 30px;
}
.mar-lft-15
{
    
    width: 70px;
    border: 1px solid grey;
    padding: 4px;
  }
/* available a truck*/
  #vehicle_number
  {
    width: 170px;
    height: 40px;
  }
  #truck_to
  {
     width: 170px;
    height: 40px;
  }
  #truck_from
  {
    width: 170px;
    height: 40px;
  }
  .text-data
  {
    text-align: center;
  }
  /*header*/
