.user-form-width{
    width: 40%;
}
#error_explanation h2{
    display: none;
}
#error_explanation ul li  {
    color: red;
}
.error_msg {
    color: red;
}
.contact-form .input:nth-child(2) {
    width: calc(100% - 10px);
}
.form-margin-20{
	margin-right: 20%;
}
.form-margin-6{
  margin-right: 6%;
}
.form-margin-4{
  margin-right: 4%;
}
.form-margin-8{
  margin-right: 8%;
}
.form-width-40{width: 40%;}
.text-data{color: red; text-align: center;}
.board_header {background-color: none repeat scroll 0 0 #00468c !important;}
.calculate-data{display: none;}
#error_distance_from{display: none;color: red}
#error_distance_to{display: none;color: red}
#contact_subject {margin-right: 538px; margin-bottom: 20px;}
.contact-text{text-align: center;}
#multi_markers{width: 1200px;height: 400px;}
.map-div{width: 1000px;}
#map {height: 50%;}
#truck-type{display: block;}
/*warehouse -inquiry page*/
.header-font{text-align: center;font-size: 32px;}